<!--
Instructions:
*************

1) Place a menu effect in decompiled true XML format in the stages/.effects folder*.
2) Setup the information in this file.

Each effect must be given an unique node under the root node.

All fields are required.
        <Name>Example Name</Name>
        <File>example_file</File>
        <Offset></Offset>

The offset must have three numbers for X, Y and Z.

If there is no offset, the value is
        <Offset>
            <X>0</X>
            <Y>0</Y>
            <Z>0</Z>
        </Offset>
(effect appears at the center of the feet).

*Avoid replacing any existing files.
-->
<Effects>
    <Effect>
        <Name>Ghost Rider's Burning Head Effect</Name>
        <File>team_ghostrider</File>
        <Offset>
            <X>0</X>
            <Y>0</Y>
            <Z>65</Z>
        </Offset>
    </Effect>
    <Effect>
        <Name>Human Torch's Flame-On Effect</Name>
        <File>team_humantorch</File>
        <Offset>
            <X>0</X>
            <Y>0</Y>
            <Z>66</Z>
        </Offset>
    </Effect>
    <Effect>
        <Name>Human Torch's Flame-On Effect For the 50RH</Name>
        <File>team_humantorch</File>
        <Offset>
            <X>0</X>
            <Y>0</Y>
            <Z>33</Z>
        </Offset>
    </Effect>
    <Effect>
        <Name>Iceman's Chill Effect</Name>
        <File>team_selfchill</File>
        <Offset>
            <X>0</X>
            <Y>0</Y>
            <Z>50</Z>
        </Offset>
    </Effect>
</Effects>
